name: Monitor de Preço Diário

on:
  schedule:
    # Roda todo dia as 13:00 UTC (10:00 Brasil)
    - cron: '0 13 * * *'
  # Permite rodar manualmente clicando num botão (para testar)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código (Checkout)
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        run: |
          pip install -r requirements.txt

      - name: Rodar o Robô
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py

      - name: Salvar CSV atualizado (Commit e Push)
        run: |
          git config --global user.name 'Robo GitHub'
          git config --global user.email 'robo@users.noreply.github.com'
          git add relatorio_medicamento.csv
          git commit -m "Atualizacao diaria de preco" || echo "Nada para commitar"
          git push
