name: Monitor de Preço (2x ao Dia)

on:
  schedule:
    # A vírgula separa os horários: 13h (10h BR) e 21h (18h BR)
    - cron: '0 13,21 * * *'
  
  # Permite rodar manualmente para testes
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código (Checkout)
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        # Alterei aqui para instalar diretamente as bibliotecas necessárias, 
        # garantindo que o Pillow esteja presente sem você precisar editar um requirements.txt
        run: |
          pip install selenium webdriver-manager requests Pillow

      - name: Rodar o Robô
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
